<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/w3.css">
    <title>Document</title>
</head>
<body>
    <div class="w3-card-4 w3-dark-grey">

        <div class="w3-container w3-center">
          <h3>Friend request</h3>
          <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:80%">
          <h5>John Doe</h5>
        
          <button class="w3-button w3-green">Accept</button>
          <button class="w3-button w3-red">Decline</button>
        </div>
        
        </div>
    
</body>
</html>